.App {
   display: flex;
   flex-direction: column; 
   align-items: center;
}
header {
  height: 2em;
  width: 100%;
  text-align: center;
  font-family: cursive;
  font-size: 1.5em;
  background-color: grey;
}
.form_{
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  border: solid 0.5px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.Input {
  width: 590px;
}
.head_message {
  font-size: 13px;
}
.Messages {
    border: solid 0.5px;
    border-radius: 5px;
    margin: 5px;
    width: 50%;
    height: 100px;
    word-wrap: break-word;
}
.button_input {
  display: flex;
  flex-direction: row;
  height: 2em;
}

